{% extends 'blog/base.html' %}

{% block content %}
<br>
<div class="card">
    <div class="card-header text-right">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                <a class="dropdown-item" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
                {% if post.published_date %}
                {% else %}
                <a class="dropdown-item" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link btn-sm active" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
            </li>
        </ul>
    </div>
    {% for comment in post.comments.all %}
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ comment.text|linebreaks }}</p>
            <footer class="blockquote-footer">{{ comment.author }}, {{ comment.created_date }}</footer>
        </blockquote>
    </div>
    {% empty %}
    <p>No comments here yet :</p>
    {% endfor %}
</div>

{% endblock %}̥
̥