{% extends "blog/base.html" %}

{% block content %}
{% for obj in object_list %}
<br>
<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{ obj.title }}</h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ obj.published_date }}</h6>
        <p class="card-text">{{ obj.text|linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=obj.pk %}" class="stretched-link ">Comments: {{ obj.comments.count }}</a>
    </div>
</div>
{% endfor %}

<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for page in object_list.paginator.page_range %}
        {% if page == object_list.number %}
        <li class="page-item active"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
<br>
{% endblock %}
