{% extends 'blog/base.html' %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            {% if post.published_date == False %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
    </div>
</div>

<br>
<br>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
            </li>
        </ul>
    </div>
    {% for comment in post.comments.all %}
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ comment.text|linebreaks }}</p>
            <footer class="blockquote-footer">{{ comment.author }}, {{ comment.created_date }}</footer>
        </blockquote>
    </div>
    {% empty %}
    <p>No comments here yet :</p>
    {% endfor %}
</div>

{% endblock %}̥
̥